/*****************************/
/* Journal Entry Styles
/*****************************/
@import '../../variables';

.entry-header {
  position: relative;
  width: 100%;

  img {
    width: 100%;
  }

  .header-title {
    align-items: center;
    color: $white;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-shadow: 1px 1px 3px $gray-darker;
    top: 0;
    width: 100%;
  }
}

.entry-content {
  margin-top: 4rem;
}
