<article class="entry-stub" data-test="journal-entry-stub">
  <h2 data-test="title">{{#link-to "journal.entry" entry.id}}{{entry.title}}{{/link-to}}</h2>
  <div data-test="content">{{entry.content}}</div>
</article>
